{%  extends "dsarhoyaDSYFilesManagerBundle:Default:index.html.twig" %}

{% block breadcrumbs %}
    <li><a href="{{ path(filesManagerParentBreadcrumbs) }}">{{ 'Home'|trans }}</a></li>
    <li class="active"><a href="{{ path('managed_file_index') }}">{{ 'Files Manager'|trans }}</a></li>
{% endblock %}
