{%  extends "dsarhoyaDSYFilesManagerBundle:ManagedFile:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">{{ 'New File'|trans }} {{ type|upper }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


