{%  extends "dsarhoyaDSYFilesManagerBundle:ManagedFile:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">{{ managedFile.fileKey|trans }} {{ 'Edit'|trans }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        {{ form_start(edit_form) }}
            {% if managedFile.fileKey is null %}
                {{ form_row(edit_form.file) }}
            {% else %}
                {% if managedFile.fileType is constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_IMAGE') %}
                <img src="{{ fileUrl(managedFile.filePath~'/'~managedFile.fileKey) }}" class="img-thumbnail" style="margin-bottom: 10px; width: auto; height: 150px; display: block;" />
                <a  class="btn btn-danger" onclick="javascript:return confirm('¿Está seguro?');"
                    href="{{ path("managed_file_remove", {'id':managedFile.id }) }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Eliminar
                </a>
                {% elseif managedFile.fileType is constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_PDF') %}
                    {#{{ form_row(edit_form.file) }}#}
                {% elseif managedFile.fileType is constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_WORD') %}
{#                    {{ form_row(edit_form.file) }}#}
                {% elseif managedFile.fileType is constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_EXCEL') %}
{#                    {{ form_row(edit_form.file) }}#}
                {% elseif managedFile.fileType is constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_PLAIN') %}
{#                    {{ form_row(edit_form.file) }}#}
                {% elseif managedFile.fileType is constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_AUDIO') %}
{#                    {{ form_row(edit_form.file) }}#}
                {% elseif managedFile.fileType is constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_VIDEO') %}
{#                    {{ form_row(edit_form.file) }}#}
                {% endif%}
            {% endif%}
            {{ form_row(edit_form._token) }}
        {{ form_end(edit_form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}