{%  extends "dsarhoyaDSYFilesManagerBundle:ManagedFile:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Listado de Archivos</h3>
        <div class="btn-group">
            <a class="btn btn-warning" href="{{ path('managed_file_create', {'type':'image'}) }}" title="Subir archivo de imagen">
                <i class="fa fa-file-image-o" aria-hidden="true"></i> Subir Imagen
            </a>
            <a class="btn btn-danger" href="{{ path('managed_file_create', {'type':'pdf'}) }}" title="Subir Archivo PDF">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Subir PDF
            </a>
            {#<a class="btn btn-default" href="{{ path('managed_file_create', {'type':'plain'}) }}" title="Subir archivo texto plano">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> Subir Texto
            </a>
            <a class="btn btn-primary" href="{{ path('managed_file_create', {'type':'word'}) }}" title="Subir archivo de word">
                <i class="fa fa-file-word-o" aria-hidden="true"></i> Subir Word
            </a>
            <a class="btn btn-success" href="{{ path('managed_file_create', {'type':'excel'}) }}" title="Subir archivo de excel">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i> Subir Excel
            </a>
            <a class="btn btn-info" href="{{ path('managed_file_create', {'type':'audio'}) }}" title="Subir Archivo de audio">
                <i class="fa fa-file-audio-o" aria-hidden="true"></i> Subir Audio
            </a>
            <a class="btn btn-warning" href="{{ path('managed_file_create', {'type':'video'}) }}" title="Subir archivo de video">
                <i class="fa fa-file-video-o" aria-hidden="true"></i> Subir Video
            </a>#}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Original Name</th>
                    <th>URL</th>
                    <th>Type</th>
                    <th>Created At</th>
                    <th class="text-right">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for file in managedFiles %}
                <tr>
                    <td><a class="link" href="{{ path('managed_file_show', {'id': file.id}) }}" title="">{{ file.fileKey }}</a></td>
                    <td>{{ file.originalName }}</td>
                    <td >
                        <div class="input-group">
                        <input id="fileURL_{{ file.id }}" type="text" class="form-control" value="{{ fileUrl(file.fileFullPathName, {'absolute':true}) }}" />
                        <span class="input-group-btn">
                            <button data-clipboard-target="#fileURL_{{ file.id }}" class="btn btn-default" type="button">
                                <i class="fa fa-clipboard" aria-hidden="true" title="Copy to clipboard"></i>
                            </button>
                        </span>
                        </div>
                    </td>
                    <td>{{ file.fileType }}</td>
                    <td>{{ (file.createdAt)?file.createdAt|date('d/m/Y h:i:a '):'No information' }}</td>
                    <td class="text-right">
{#                        {% if file.fileType ==  constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_IMAGE') %}#}
                        <a class="link" href="{{ path('managed_file_show', {'id': file.id}) }}" title="">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>&nbsp;
{#                        {% endif %}#}
                        {#<a class="link" href="{{ path('managed_file_edit', {'id': file.id}) }}" title="">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>&nbsp;#}
                        <a class="link" href="{{ path('managed_file_remove', {'id': file.id}) }}" title="">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/dsarhoyadsyfilesmanager/js/clipboard.min.js') }}"></script>
    <script type="text/javascript">
        var clipboard = new Clipboard('.btn');
        
        clipboard.on('success', function(e) {
            jQuery(e.trigger).tooltip({
                'title': function(){
                    return 'Copied!'
                },
                'trigger': 'manual'
            })
            setTimeout(function(){
                jQuery(e.trigger).tooltip('hide');
            }, 1000);
            
            jQuery(e.trigger).tooltip('show');
            e.clearSelection();
        });
    </script>
{% endblock %}
