{%  extends "dsarhoyaDSYFilesManagerBundle:ManagedFile:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">{{ managedFile.fileKey|trans }} {{ 'Show'|trans }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('managed_file_index') }}" title="Regresar al Listado">Regresar al Listado</a>
                <a  class="btn btn-danger" onclick="javascript:return confirm('¿Está seguro?');"
                    href="{{ path("managed_file_remove", {'id':managedFile.id }) }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Eliminar
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            {% if managedFile.fileType == constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_IMAGE') %}
                <img src="{{ fileUrl(managedFile.filePath~'/'~managedFile.fileKey) }}" class="img-thumbnail" />
            {#{% elseif managedFile.fileType == constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_PDF') %}
                <a class="btn btn-warning" href="{{ asset(managedFile.fileFullPathName) }}" target="_blank">Ver {{managedFile.fileType|upper}}</a>
            {% elseif managedFile.fileType == constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_WORD') %}
                
            {% elseif managedFile.fileType == constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_EXCEL') %}
                
            {% elseif managedFile.fileType == constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_PLAIN') %}
                
            {% elseif managedFile.fileType == constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_AUDIO') %}
                
            {% elseif managedFile.fileType == constant('dsarhoya\\DSYFilesManagerBundle\\Entity\\ManagedFile::MANAGED_FILE_TYPE_VIDEO') %}
                #}
            {% else %}
                <a class="btn btn-warning" href="{{ asset(managedFile.fileFullPathName) }}" target="_blank">Ver {{managedFile.fileType|upper}}</a>
            {% endif%}
        </div>
    </div>
{% endblock %}