{%  extends "dsarhoyaDSYFilesManagerBundle:Default:index.html.twig" %}

{% block breadcrumbs %}
    <li><a href="{{ path(filesManagerParentBreadcrumbs) }}">{{ 'Home'|trans }}</a></li>
    <li class="active"><a href="{{ path('slider_index') }}">{{ 'Slider'|trans }}</a></li>
{% endblock %}
