{%  extends "dsarhoyaDSYFilesManagerBundle:Slider:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">Edit Slider {{ slider.id }}</li>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        {{ form_start(edit_form) }}
        <div class="panel-heading">
            <h3>Edit Slider {{ slider.id }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(edit_form.name) }}
                    {{ form_row(edit_form.date) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" 
                        {#data-toggle="modal" 
                        data-target="#myModal" #}
                        href="{{ path('slider_slide_new', {'id':slider.id}) }}" title="{{'Add slide'|trans}}">
                         <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;{{'Add slide'|trans}}</a>
                </div>
            </div>
            {% if slider.slides|length > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <caption>List Slides</caption>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Slide Image</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for slide in slider.slides %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ (app.request.defaultLocale in slide.translations|keys and slide.translations[app.request.defaultLocale].title is not null)?slide.translations[app.request.defaultLocale].title:'No Title' }}</td>
                                        {% if app.request.defaultLocale in slide.translations|keys and slide.translations[app.request.defaultLocale].managedFile is not null %}
                                            {% set image = '<img class="img-thumbnail" src="'~ fileUrl(slide.translations[app.request.defaultLocale].managedFile.fileFullPathName) ~'" alt="Slide" style="width:100px;" />'%}
                                        {% else %}
                                            {% set image = '<img class="img-thumbnail" src="'~ asset('bundles/dsarhoyadsyfilesmanager/images/no-image.png') ~'" alt="Slide" style="width:100px;" />'%}
                                        {% endif %}
                                        
                                        <td>{{ image|raw }}</td>
                                        <td>
                                            <a class="link" href="{{ path('slider_slide_edit', {'id':slider.id, 'slide':slide.id}) }}" title="{{ 'Edit Slide' }}">
                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                            </a>&nbsp;
                                            <a class="link" href="{{ path('slider_slide_delete', {'id':slider.id, 'slide':slide.id}) }}" title="{{ 'Edit Slide' }}">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>&nbsp;
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="">
                                        <td colspan="3">
                                            
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <input class="btn btn-success" type="submit" value="Save" />
                <a class="btn btn-default" href="{{ path('slider_index') }}" title="{{ 'Back to list'| trans}}">{{ 'Back to list'| trans}}</a>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
        
<!-- Modal -->
{#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>#}
{% endblock %}
