{%  extends "dsarhoyaDSYFilesManagerBundle:Slider:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="panel-title">{{ 'Slider List'|trans }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="link" href="{{ path('slider_new') }}" title="{{ 'New Slider'|trans }}">{{ 'New Slider'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr class="">
                        <th class="">#</th>
                        <th class="">{{ 'Name'|trans }}</th>
                        <th class="text-right">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slider in sliders %}
                    <tr class="">
                        <td class="">{{ slider.id }}</td>
                        <td class="">{{ slider.name }}</td>
                        <td class="text-right">
                            <a class="link" href="{{ path('slider_edit', {'id':slider.id}) }}" title="Edit">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>&nbsp;
                            <a class="link" href="{{ path('slider_delete', {'id':slider.id}) }}" title="Delete">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>&nbsp;
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}