{%  extends "dsarhoyaDSYFilesManagerBundle:Slider:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        {{ form_start(form) }}
        <div class="panel-heading">
            <h1>New Slider</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.name) }}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <input class="btn btn-success" type="submit" value="Save" />
                <a class="btn btn-default" href="{{ path('slider_index') }}" title="{{ 'Back to list'| trans}}">{{ 'Back to list'| trans}}</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
