{%  extends "dsarhoyaDSYFilesManagerBundle:Slider:base.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class=""><a href="{{ path('slider_edit', {'id':slider.id}) }}">Edit Slider {{ slider.id }}</a></li>
    <li class="active">Edit Slide {{ slide.id }}</li>
{% endblock %}

{% form_theme edit_form.translations 'dsarhoyaDSYFilesManagerBundle:Form:slide_translations.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">Edit Slide {{ slide.id }}</h3>
            </div>
        </div>
    </div>
    {{ form_start(edit_form) }}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_errors(edit_form) }}
                {{ form_row(edit_form.translations) }}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="btn-group">
            <input class="btn btn-success" type="submit" value="Save" />
            <a class="btn btn-default" href="{{ path('slider_edit', {'id':slider.id}) }}" title="{{ 'Back to list'| trans}}">{{ 'Back to list'| trans}}</a>
        </div>
    </div>
    {{ form_end(edit_form) }}
</div>
{% endblock %}

