{#{{ form_start(form) }}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ 'New Slide' |trans}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.translations) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
    <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}#}