{% block a2lix_translations_widget %}
    {% set formEntity = form.parent %}
    
    <!--Llenado de Arreglo en falso-->
    {% set activetab = {} %}
    {% for translationsFields in form %}
        {% set activetab = activetab|merge({(translationsFields.vars.name):false}) %}
    {% endfor %}
    
    <!--Chequeo si hay algún error en alguno de los campos de cada traduccion-->
    {% set error = false %}
    {% for translationsFields in form if error == false %}
        {% set error = false %}
        {% for field in translationsFields %}
            {% if not field.vars.valid %}
                {% set error = true %}
            {% endif %}
        {% endfor %}
        {% set activetab = activetab|merge({(translationsFields.vars.name):error}) %}
    {% endfor %}
    
    <!--Si no hay errores se llena con la traducción por defecto del request-->
    {% if not (true in activetab) %}
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
            {% set activetab = activetab|merge({(locale):(app.request.locale == locale)? true:false}) %}
        {% endfor %}
    {% endif %}
    
    {{ form_errors(form) }}
    <div class="a2lix_translations tabbable">
        <ul class="a2lix_translationsLocales nav nav-tabs">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
            <li {% if activetab[locale] %}class="active"{% endif %}>
                <a href="#" data-toggle="tab" data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}">
                    {{ locale|capitalize|trans }}
                    {% if form.vars.default_locale == locale %}[Default]{% endif %}
                    {% if translationsFields.vars.required %}*{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
        <br />
        <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
            <div class="{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if activetab[locale] %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}">
                {{ form_errors(translationsFields) }}
                {% for field in translationsFields %}
                    <div class="form-group {% if not field.vars.valid  %}has-error{% endif %}">
                    {{ form_label(field) }}
                    {% if formEntity.vars.id == 'dsarhoya_files_manager_slide' and field.vars.type is defined and field.parent.vars.value.managedFile is defined and field.parent.vars.value.managedFile is not null %}
                        <div class="img-thumbnail">
                            <img src="{{ fileUrl(field.parent.vars.value.managedFile.fileFullPathName) }}" style="height: 100%; max-width: 200px;"/>
                        </div>
                        {% set slideForm = form.parent %}
                        {% set slider = slideForm.vars.value.slider %}
                        <a onclick="return confirm('Are you sure? This action is permanent.');" 
                           href="{{ path('slider_slide_managed_file_delete', {'id':slider.id,'slide': slideForm.vars.value.id, 'locale': locale})}}" 
                           title="Delete Image">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    {% else %}
                    {{ form_widget(field) }}
                    {% endif  %}
                    {{ form_errors(field) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}